<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ABC Institute</a>
</nav>

<section class="container h-100 w-100">
  <div class="card w-50 d-block mx-auto my-5">
    <div class="card-body">
      <h5 class="card-title">Admit Card</h5>
      <div class="form-group">
        <label for="rollNo">Enter roll No.</label>
        <input
          type="number"
          class="form-control roll_num"
          placeholder="Enter roll no."
        />
      </div>
      <button type="button" class="btn btn-primary">
        Generate Download Link
      </button>
      <a id="pdf_link" class="form-text text-muted d-none" href=""
        >click here to download</a
      >
    </div>
  </div>
</section>
